body{
  
    background-color: #E6C2BF;    /* rose water  */
}

.quote , .quote-2{ 

    font-family: marvel;
    color: #282120;
    text-align: center;

}

.days , .msg { 

    font-family: marvel;
    color: #282120;
    text-align: center;
    margin-top: 20%;

}
.days{
    position: relative;
    font-size: 12rem;
    font-weight: bolder;
    
}
.msg{
    font-weight: bold;
    font-size: 3.5rem;
}
@media only screen and (max-device-width: 480px) {
body{
  text-align:center; }
  .days{
    text-align:center;
    margin-top:30%;
  }
  
    }
  
